@import url(normalize.css);
@import url(basic.css);
@import url(sections/grettings.css);
@import url(sections/service.css);
@import url(sections/advert.css);
@import url(sections/offers.css);
@import url(sections/party.css);
@import url(sections/footer.css);