.footer {
    margin-top: 150px;
    background-color: #0A0E1A;
    padding: 120px 0px 150px 0px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__info {}

.logo {}

.footer__text {
    font-family: var(--fontLF);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #666666;
    margin-top: 15px;
}

.footer__nav {
    display: flex;
    column-gap: 50px;
}

.footer__list {
    display: flex;
    column-gap: 50px;
}

.footer__list-column {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.footer__item a{
    font-family: var(--fontLF);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
}

.footer__item a:hover{
    color: var(--colorGreen);
}

.footer__social {
    display: flex;
    column-gap: 21px;

}

.footer__link img{
    width: 18px;
    height: 18px;
    transition: transform 0.5s;
}

.footer__link img:hover{
    transform: scale(1.3);
}