.service {
    margin-top: 117px;
}
.service__content {
}
.service__main-text {
    max-width: 507px;
}
.service__list {
    margin-top: 54px;
    display: flex;
    gap: 19px;
}
.service__item {
    border: 1px solid #f7f7f7;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 51px 56px 109px 41px;
}
.service__title {
    font-family: var(--fontLF);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #000;
    margin-top: 25px;
}
.service__text {
    font-family: var(--fontIBM);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #999;
    margin-top: 13px;
}