.service {
    margin-top: 117px;
}
.service__content {
}
.service__main-text {
    max-width: 507px;
}
.service__list {
    margin-top: 54px;
}
.service__item {
}
.service__title {
}
.service__text {
}